@using MVCWebProject.ViewModels
@model UsersCreatViewModel

@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
<div class="col-md-10">
    @Html.DropDownListFor(model => model.City, Model.Cities as SelectList, "Select City", new { @class = "form-control", id = "ddlCities" })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var removedCities = false;
        $("#ddlCities").change(function () {
            if (!removedCities) {
                $(this).children().first().remove();
                removedCities = true;
            };
        });
    });
</script>