@using MVCWebProject.ViewModels
@model UsersCreatViewModel
<div class="col-1-5">
    @Html.LabelFor(model => model.City)
</div>
<div class="col-2-5">
    @Html.DropDownListFor(model => model.City, Model.Cities as SelectList, "Select City", new { id = "ddlCities" })
</div>
<div class="col-2-5">
    <div id="divValidation"></div>
</div>
<script src="~/Scripts/users.city.js" type="text/javascript"></script>