@using MVCWebProject.ViewModels
@model UsersCreatViewModel
<div class="col-1-5">
    @Html.LabelFor(model => model.City)
</div>
<div class="col-2-5">
    @Html.DropDownListFor(model => model.City, Model.Cities as SelectList, "Select City")
</div>
<div class="col-2-5">
    <div id="ddlCities"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var removedCities = false;
        $("#ddlCities").change(function () {
            if (!removedCities) {
                $(this).children().first().remove();
                removedCities = true;
            };
        });
    });
</script>