@using MVCWebProject.ViewModels
@model UsersCommentsViewModel

<h4>@Html.DisplayFor(model => model.Name)</h4>
<button>
    <span>&times;</span>
</button>
<p>@Html.DisplayFor(model => model.Comments)</p>
