@using MVCWebProject.ViewModels
@model UsersDeleteViewModel

<h4>Confirm delete</h4>
<button>
    <span>&times;</span>
</button>
<p>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</p>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <input type="submit" name="Delete" value="Delete"/>
}