@using MVCWebProject.ViewModels
@model UsersDeleteViewModel
<div class="modal-dialog">
    <div class="modal-wrap">
        <div class="row">
            <div class="col-2-3">
                <div class="head">
                    <h3>Confirm delete</h3>
                </div>
            </div>
            <div class="col-1-3">
                <a href=" " title="Close" class="button-close right">X</a>
            </div>
        </div>
        <div class="row">
            <div class="col-1-1">
                <p>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1-1">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.Id)
                    <input type="submit" name="Delete" value="Delete" class="button-delete right" />
                }
            </div>
        </div>
    </div>
</div>