@using X.PagedList
@using MVCWebProject.ViewModels
@model IPagedList<UsersListingViewModel>
<h2>Users</h2>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="@Url.Action("Create", "Users")" role="button">Create</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
            @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "Listing" }))
            {
                <input type="text" name="searchString" aria-label="Search" class="form-control mr-sm-2" placeholder="Search"/>
                <input type="submit" value="Поиск" class="btn btn-primary"/>
            }
        </div>
    </div>
    <p></p>
    <div id="Listing">
        @Html.Partial("Listing", Model)
    </div>

        @*<div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog">

            </div>*@
