@using MVCWebProject.ViewModels
@model ExceptionViewModel
<div id="page-header">
    <h1>Exception</h1>
</div>
<div id="page-wrap">
    <div class="row">
        <div class="col-1-1">
            <div>@Html.DisplayFor(Model => Model.Action)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-1-1">
            <div>@Html.DisplayFor(Model => Model.Exception)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-1-1">
            <div>@Html.DisplayFor(Model => Model.Message)</div>
        </div>
    </div>
</div>
<div id="page-footer">
</div>